@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(205deg, rgba(18, 7, 42, 0.7) 0%, rgba(41, 10, 57, 1) 15%, rgba(68, 15, 82, 1) 35%, rgba(78, 52, 122, 0.7) 66%, rgba(0, 86, 255, 0.6) 100%), url(img/Bg.jpg);
  background-size: cover;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
p {
  color: white;
  text-align: center;
}

form {
  max-width: 600px;
  background: rgba(0, 86, 255, 0.2);
  margin: 0 auto;
  padding: 18px 35px;
  color: white;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 10px;
  font-family: inherit;
}

label {
  display: block;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  height: 35px;
  background-color: lightblue;
  border: 0;
}
